.shopWrapper {
    width: 100%;
    max-width: 1273px;
    height: auto;
    top: 144px;
    left: 80px;
    position: absolute;
    border-radius: 4px;
}

.shopText {
    width: auto;
    max-width: 100%;
    height: auto;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    top: 210px;
    left: 530px;
    position: absolute;
}

@media (max-width: 768px) {
    .shopText {
        font-size: 52px;
    }
}

/* @media (max-width: 480px) {
    .shopText {
        font-size: 32px;
    }
} */
