.shopWrapper {
    width: 1273px;
    height: 636.5px;
    top: 144px;
    left: 75px;
    position: absolute;
    border-radius: 4px;
}
.shopText{
    width: 146px;
    height: 92px;
    top: 200px;
    left: 530px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 92.48px;
    position: absolute;
}