.prodHead {
    width: auto;
    height: auto;
    margin: 20px 0;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
}

.productFilter {
    width: 95%;
    max-width: 1200px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter {
    width: auto;
    height: 45px;
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.filterImg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.filterText {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
}

.caret {
    width: auto;
    height: 45px;
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.caretText {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 10px;
}

.caretImg {
    width: 24px;
    height: 24px;
}

.productList {
    width: 95%;
    max-width: 1230px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px
}

.explore {
    width: auto;
    height: auto;
    margin: 15px auto;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 0;
    text-align: center;
    margin-left: -30px;
}

@media (max-width: 768px) {
    .productFilter {
        margin: 20px 40px;
    }

    .productList {
        margin: 20px 40px;
        grid-template-columns: repeat(auto-fill, minmax(70%, 1fr));
    }
}

@media (max-width: 480px) {
    .productFilter {
        max-width: 230px;
        flex-direction: column;
        align-items: stretch;
    }

    .filter, .caret {
        width: 100%;
        margin-bottom: 10px;
    }

    .productList {
        margin: 20px 20px;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}
