.navWrapper {
    width: 100%;
    max-width: 1440px;
    height: auto;
    justify-content: space-between;
    padding: 24px 20px;
    display: flex;
    flex-wrap: wrap;
}

.navImg {
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.img {
    width: auto;
    height: auto;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
}

.navList {
    width: auto;
    height: auto;
    gap: 24px;
    display: flex;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

.navIcon {
    width: auto;
    height: auto;
    gap: 24px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navWrapper {
        padding: 24px 10px;
        flex-direction: column;
        align-items: center;
    }

    .navList {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        gap: 15px;
        font-size: 18px;
    }

    .navIcon {
        margin-top: 10px;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .navWrapper {
        padding: 24px 5px;
    }

    .navList {
        font-size: 16px;
        gap: 10px;
    }

    .navIcon {
        gap: 10px;
    }
}
