.navWrapper {
    width: 100%;
    max-width: 1200px;
    height: auto;
    justify-content: space-between;
    padding: 24px 76px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 24px;
}

.navImg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    margin: 0;
}

.navList {
    display: flex;
    gap: 24px;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

.navIcon {
    display: flex;
    gap: 24px;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navWrapper {
        height: 5%;
        padding: 10% 100%;
    }

    .navList {
        align-items: center;
        margin-top: 10px;
        gap: 15px;
        font-size: 18px;
    }

    .navIcon {
        margin-top: 10px;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    /* .navWrapper {
        height: 15%;
        margin: -20px 289px;
    } */

    .navImg {
        margin-left: -80%;
    }

    .navList {
        margin-top: 10px;
        gap: 11px;
        font-size: 14px;
    }

    .navIcon {
        margin-top: 4px;
        left: 76%;
        position: absolute;
        gap: 15px;
    }
}