.footerWrapper {
    width: 100%;
    height: auto;
    top: 3700px;
    position: absolute;
}

.foot {
    width: 180px;
    height: 49px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: inline;
}

.footL {
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1; 
}

@media (max-width: 768px) {
    .foot {
        width: 150px;
        left: 135%;
        transform: translateX(50%);
        top: 4500px;
    }

    .footL {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .footL {
        font-size: 18px;
    }
}
