.check {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.checkout {
    width: 90%;
    max-width: 388.78px;
    height: auto;
    margin: 20px auto;
    position: absolute;
    top: 120px;
    text-align: center;
}

.back {
    width: auto;
    max-width: 100px;
    height: auto;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    color: black;
    top: 176px;
    right: 80px;
    position: absolute;
    text-align: right;
}
.checkFoot{
    width: auto;
    bottom: 0;
    position: absolute;
    top: 1968px;
}
@media (max-width: 768px) {
    .checkout {
        width: 80%;
        max-width: 450px;
    }

    .back {
        position: absolute;
        margin-left: 241px;
        font-size: 14px;
        max-width: 80px;
        left: 225px;
    }
}

@media (max-width: 480px) {
    .checkout {
        width: 90%;
        max-width: 300px;
    }

    .back {
        font-size: 12px;
        max-width: 70px;
    }
}
