.check {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.checkout {
    width: 90%;
    max-width: 388.78px;
    height: auto;
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.back {
    width: auto;
    max-width: 100px;
    height: auto;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    color: black;
    position: relative;
    text-align: center;
}

@media (max-width: 768px) {
    .checkout {
        width: 80%;
        max-width: 350px;
    }

    .back {
        font-size: 14px;
        max-width: 80px;
    }
}

@media (max-width: 480px) {
    .checkout {
        width: 90%;
        max-width: 300px;
    }

    .back {
        font-size: 12px;
        max-width: 70px;
    }
}
